
.global-transition {
  transition:  color 0.3s ease-out,
    background-color 0.5s ease-out,
    border-color 0.3s ease-out,
    box-shadow 0.3s ease-out !important;
}

.global-hover-scale:hover {
  transform: scale(1.05);
}

.mantine-AppShell-header.right-scroll-bar-position {
  right: 0 !important;
  transition: right 0.3s ease-out;
}

.mantine-ThemeIcon-root  {
  transition: color 0.3s ease-out !important;
}
