
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

.decorativeIcon {
  animation: float 4s ease-in-out infinite;
}

.decorativeIconReverse {
  animation: float 3s ease-in-out infinite reverse;
}

.mainIcon {
  box-shadow: var(--mantine-color-primary-icon-shadow);
  animation: float 3s ease-in-out infinite;
}

.decorativeTopRight {
  position: absolute;
  top: 20px;
  right: 50px;
  opacity: 0.1;
}

.decorativeBottomLeft {
  position: absolute;
  bottom: 40px;
  left: 30px;
  opacity: 0.08;
}
